body{
    display: flex;
    font-family: "Red Hat Display";
    background-color: hsl(225, 100%, 94%);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
button{
    font-family: "Red Hat Display";
}
.main{
    display:flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    border-radius: 16px;
    width: 450px;
    position: relative;
    z-index: 10;
    box-shadow: 6px 12px 30px -12px rgb(145, 145, 145);
    gap: 24px;
}
img{
    width: 450px;
    border-radius: 16px;
    padding-bottom: 16px;
}
.text{
    display: flex;
    flex-direction: column;
}
.bigtext{
    font-weight: 900;
    font-size: 32px;
    color: hsl(223, 47%, 23%);
    margin-top: 16px;
    margin-bottom: 16px;
}

.attribution{
    position: absolute;
    bottom: 0px;
}
.catcher{
  display:flex;  
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 300px;
  color: hsl(224, 23%, 55%);
  line-height: 1.5;
}

.pay{
    position:relative;
    z-index:3;
    padding:12px;
    font-weight: 900;
    font-family: "Red Hat Display";
    border-style: none;
    border-radius: 12px;
    text-decoration: none;
    color: white;
    background-color: hsl(245, 75%, 52%);
    width: 350px;
    text-align: center;
    margin: auto;
    box-shadow: 0 12px 30px -12px hsl(245, 75%, 52%);
}
.paymentbox{
    display:flex;
    text-align: center;
    justify-content: space-around;
    gap: 76px;
    align-items: center;
    border-radius: 12px;
    padding-left: 16px;
    padding-right: 16px;
    margin: auto;
    line-height: 1.5;
    background-color: hsl(223, 100%, 96%);
}
.musicnote{
    width: 50px;
    margin: auto;
    padding: 0;
    margin-right: 16px;
}
.musicplan{
    display:flex;
    flex-direction: row;
    
}
.price{
    display:flex;
    flex-direction: column;
    font-size: 18px;
    
}
.pricetag{
    font-weight: 500;
}
.change{
    font-family: "Red Hat Display";
    color:hsl(245, 75%, 52%);
    border-style: none;
    text-decoration: none;
    font-weight: 900;
    background-color: transparent;
    font-size: 14px;
    padding: 0;
    width: auto;
    
}
.cancel{
    padding: 0;
    margin-bottom: 64px;
    font-weight: 900;
    border-style: none;
    background-color: white;
    max-width: 450px;
    width: auto;
}
.cancel:hover{
    color: black;
}
.pay:hover{
    filter: brightness(130%);
}
.change:hover{
    filter: brightness(180%);
}
